@charset "utf-8";
/*<reset css>*/
* {font-size:inherit;font-family:'Microsoft Yahei','Lucida Grande',Arial,'\5b8b\4f53';line-height:inherit  }
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td { margin:0; padding:0; }
body, button, input, select, textarea { font:12px/1.5tahoma, arial, \5b8b\4f53; }
body {line-height:1;background:#fff!important;}
textarea {padding:5px;}
h1, h2, h3, h4, h5, h6{ font-size:100%; }
address, cite, dfn, em, var, i { font-style:normal; }
code, kbd, pre, samp { font-family:couriernew, courier, monospace; }
small{ font-size:12px; }
ul, ol { list-style:none; }
a { text-decoration:none; color:#666;line-height:1.5;}
a:hover { text-decoration:none;color:#b01330;}
sup { vertical-align:text-top; }
sub{ vertical-align:text-bottom; }
legend { color:#000; }
fieldset, img { border:0; }
button, input, select, textarea { font-size:100%; }
table { border-collapse:collapse; border-spacing:0; }
blockquote,q {quotes:none;}
blockquote:before,blockquote:after,q:before,q:after {content:'';content:none;}
li {list-style:none}
.clear {clear:both;}
.clearfix,.cf{zoom:1}
.clearfix .cf:before,.clearfix .cf:before {content: "";display: table}
.clearfix:after,.cf:after{clear: both;visibility:hidden}
.fl {float:left;}
.fr {float:right;}
.ellipsis {text-overflow:ellipsis;white-space:nowrap;overflow:hidden  }
.foot{margin:0px;overflow:hidden;}
.main{margin:0 auto;  }
.wrap{width:1200px;margin:0 auto;}
.h{display:none!important;}
body,button,textarea {font-size:12px;}
/*</reset css>*/
#cnzz_stat_icon_1260619871 a{display: none;}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder{
    color: #ccc;
}
input::-moz-placeholder,
textarea::-moz-placeholder{
    color: #ccc;
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder{
    color: #ccc;
}
/*去掉input框默认的黄色背景*/
input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
    background-color: rgb(0, 0, 0) !important;
    background-image: none !important;
    color: rgb(0, 0, 0) !important;
    -webkit-tap-highlight-color:rgba(0,0,0,0) !important;
}
