@import './nanbiao.css';
.mlb2{
    float: left;
    width: 208px;
    height: 306px;
    overflow: hidden;
    ul{
        width: 1000%;
        float: left;
        li{
            float: left;
        }
    }
}